<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="7" android:versionName="0.7.6" package="org.yaxim.androidclient">

	<uses-sdk android:targetSdkVersion="8" android:minSdkVersion="3"/>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<application android:icon="@drawable/icon"
		android:debuggable="true" android:label="@string/app_name">

		<activity android:name=".MainWindow" android:label="@string/app_name"
			android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".chat.ChatWindow" android:label="@string/app_name"
			android:alwaysRetainTaskState="true">
		</activity>

		<activity android:name=".preferences.MainPrefs"
			android:label="@string/app_name">
		</activity>

		<activity android:name=".preferences.AccountPrefs"
			android:label="@string/app_name">
		</activity>

		<service android:name=".service.XMPPService">
			<intent-filter>
				<action android:name="de.hdmstuttgart.yaxim.XMPPSERVICE" />
			</intent-filter>
		</service>

		<receiver android:name=".service.AutoStarter">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<provider android:name=".data.ChatProvider"
			android:authorities="org.yaxim.androidclient.provider.Chats" />
		<provider android:name=".data.RosterProvider"
			android:authorities="org.yaxim.androidclient.provider.Roster" />

		<activity android:name="de.duenndns.ssl.MemorizingActivity" />
		<receiver android:name=".service.DyingGasp">
			<intent-filter>
				<action android:name="android.intent.action.ACTION_SHUTDOWN"></action>
			</intent-filter>
		</receiver>
	</application>
</manifest>
