<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools" package="org.yaxim.androidclient"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<application tools:ignore="GoogleAppIndexingWarning">

		<meta-data android:name="firebase_analytics_collection_deactivated" android:value="true" />
		<meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />

		<service android:name=".service.PushMessageReceiver" android:exported="false" >
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT" />
			</intent-filter>
		</service>

		<receiver android:name=".service.InstallReferrerReceiver"
			android:enabled="true"
			android:exported="true">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER"/>
			</intent-filter>
		</receiver>

	</application>

</manifest>
